<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stories.css">
    <title>Document</title>
</head>
<body>
    <h1>Madlibs</h1>
    <form action="/story">
    <div>
        <div>
            <label for="place">Place:</label>
            <input name="place" type="text">
        </div>
        <div>
            <label for="noun">Noun:</label>
            <input name="noun" type="text">
        </div>
        <div>
            <label for="verb">Verb:</label>
            <input name="verb" type="text">
        </div>
        <div>
            <label for="adjective">Adjective:</label>
            <input name="adjective" type="text">
        </div>
        <div>
            <label for="plural-noun">Plural Noun:</label>
            <input name="plural-noun" type="text">
        </div>
        <button>Submit!</button>
    </div>
    </form>
</body>
</html>